* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #080808;
  color: #f2f2f2;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.nick,
.name {
  font-weight: lighter;
}

canvas {
  margin-right: 10rem;
  width: 960px;
  height: 600px;
  background-image: url("Frame 4.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(48, 1fr);
  grid-template-rows: repeat(30, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: 2px 2px 78px -17px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: 2px 2px 78px -17px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 2px 2px 78px -17px rgba(0, 0, 0, 0.86);
}

.score-time {
  margin-left: 15rem;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  gap: 2.5rem;
}

.score-time p {
  padding: 10px 20px;
  border: 1px solid #8417da;
  border-radius: 8px;
  width: 100%;
}

.overlay {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
}

.overlay.active {
  opacity: 1;
}

.overlay-content {
  /* From https://css.glass */
  padding: 2rem 3rem;
  display: flex;
  position: relative;
  gap: 3rem;
  flex-direction: column;
}

.overlay-content .lobby-title {
  letter-spacing: 6px;
}

.overlay-content .username {
  padding: 1rem 0;
  width: 20vw;
  color: #f2f2f2;
  letter-spacing: 1px;
  font-size: 18px;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #8417da;
}

.overlay .btn-start {
  cursor: auto;
  opacity: 0.5;
  font-size: 15px;
  pointer-events: all;
  background: #8417da;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(25, 57, 170, 0.3);
  color: #f2f2f2;
  outline: none;
  letter-spacing: 2px;
  border-radius: 5px;
  padding: 1.5rem;
  transition: 0.5s ease-in-out;
  width: 20vw;
}

.overlay .btn-start.kunci:hover {
  box-shadow: -3px 6px 72px -13px rgba(89, 11, 190, 0.63);
  -webkit-box-shadow: -3px 6px 72px -13px rgba(100, 23, 201, 0.63);
  -moz-box-shadow: -3px 6px 72px -13px rgba(100, 23, 201, 0.63);
}

.box-model {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  top: -10rem;
  border-radius: 1rem;
  transition: 0.5s ease-in;
  padding: 6rem;
  background-color: #080808;
}

.box-model.active {
  opacity: 1;
  top: 10rem;
}

.content,
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  gap: 1rem;
}

.text-content {
  gap: 5px;
}

.try-again,
.exit-btn,
.rewind-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  color: #f2f2f2;
}

/* .try-again {
  background-color: #8417da;
  outline: none;
} */

.exit-btn,
.rewind-btn {
  background: none;
  outline: none;
  background-color: #8417da;
}
